{% extends "base.ejs" %}

{% block optional_include %}
{% load static %}
<script src="{% static "js/tag_editor/jquery.tag-editor.js" %}"></script>
<link rel="stylesheet" href="{% static "css/jquery.tag-editor.css" %}">
<link rel="stylesheet" href="{% static "css/profile_styles.css" %}">
{% endblock optional_include %}

{% block page_title %}404{% endblock page_title %}

{% block document_body %}
<div class="container">
    <div class="row centered">
        <div class="col-md-6 col-sm-offset-3" style="margin-top: 30%">
            <img src="{% static "img/404.png" %}">

        </div>
    </div>
</div>
{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}
