{% extends "base.ejs" %}

{% block page_title %}Input field title{% endblock page_title %}

{% block document_body %}
<div class="container">
    <div class="row"></div>
    <div class="row centered">
        <div class="col-md-6 col-sm-offset-3">
            <form action="/user/authenticate/" method="post" class="form"> {% csrf_token %}
            <div class="get-in-touch">
                <h3 class="text-center">
                    Authentication</h3>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="username" placeholder="User name" required/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required/>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn-success" id="InputBtn" placeholder="Authenticate" value="Authenticate" required/>
                </div>
            </div>
            </form>
            <div class="centered">
                Don't have an account yet?
            </div>
            <div class="centered" style="margin-top: 2%">
                <a href="/user/registration/"><button class="btn btn-primary">Register</button></a>
            </div>
        </div>
    </div>
</div>
<script>
    $('#tags').tagEditor({'delimiter' : ' '});
</script>
{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}
