<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/main_style.css" %}">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    {% block optional_include %}
        <script src="{% static "js/tag_editor/jquery.tag-editor.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/jquery.tag-editor.css" %}">
    {% endblock optional_include %}

    <title>{% block page_title %}Home page{% endblock page_title %}</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">TASK<i class="fa fa-square"></i>TRACKER</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right  menu">
                    <li class="active"><a href="/home">HOME</a></li>
                    <li><a href="#">TASKS</a>
                        <ul class="submenu">
                            <li><a href="/task/add">ADD</a></li>
                            <li><a href="/task/search">SEARCH</a></li>
                        </ul>
                    </li>
                    <li><a href="#">GROUPS</a>
                        <ul class="submenu">
                            <li><a href="/group/add">ADD</a></li>
                            <li><a href="/group/show">SHOW</a></li>
                        </ul>
                    </li>
                    <li><a href="#">TAGS</a>
                        <ul class="submenu">
                            <li><a href="/tag/add">ADD</a></li>
                            <li><a href="/tag/show">SHOW</a></li>
                        </ul>
                    </li>
                    <li><a href="#">REMINDS</a>
                        <ul class="submenu">
                            <li><a href="/remind/add">ADD</a></li>
                            <li><a href=#>EDIT</a></li>
                            <li><a href="/remind/search">SEARCH</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/user/profile">PROFILE</a>
                    </li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i></a>
                        <ul class="submenu">
                            <li><div class="remind_container">
                                    {% for remind in reminds %}
                                        <p>
                                        <b>Remind</b>
                                        <br>
                                        {{remind.target_task.alias}}
                                        <br>
                                        {{remind.remind_time}}
                                        <br>
                                        {{remind.message}}
                                        <br>
                                        <a href="/task/info/{{remind.target_task.id}}"><button class="btn btn-primary">Do it!</button></a>
                                        </p>
                                    {% endfor %}
                                </div></li>
                        </ul>
                    </li>
                </ul>
          </div>
        </div>
    </div>


    {% block document_body %}
        {% block document_header %}{% endblock document_header %}
        {% block main_content %}
        {% endblock main_content %}
        {% block document_footer %}{% endblock document_footer %}
    {% endblock document_body %}


	<div id="f">
		<div class="container">
			<div class="row centered">
				<a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i> </a>
                <a href="#"><i class="fa fa-vk"></i></a>
			</div>
		</div>
	</div>
</body>
</html>
