{% extends "base.ejs" %}

{% block optional_include %}
{% load static %}
<script src="{% static "js/tag_editor/jquery.tag-editor.js" %}"></script>
<link rel="stylesheet" href="{% static "css/jquery.tag-editor.css" %}">
<link rel="stylesheet" href="{% static "css/profile_styles.css" %}">
{% endblock optional_include %}

{% block page_title %}Edit group{% endblock page_title %}

{% block document_body %}
<div class="container">
    <div class="row centered">
        <div class="col-md-6 col-sm-offset-3">
            <form action="/group/edit_group_action/{{group.id}}" method="post" class="form"> {% csrf_token %}
            <div class="get-in-touch">
                <h3 class="text-center">
                    Edit group {{group.name}}</h3>
                <h4 style="float: left; margin-left: 2%">Name</h4>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{group.name}}" name="name" disabled id="name" placeholder="Name of group" required/>
                </div>
                <h4 style="float: left; margin-left: 2%">Admin</h4>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{group.admin.name}}" name="name" disabled id="name" placeholder="Name of group" required/>
                </div>
                <h4 style="float: left; margin-left: 2%">Users</h4>
                <br>
                <br>
                <div class="form-group" style="overflow-y: scroll;">
                    {% for user in members %}
                        <a href="/user/profile/{{user.id}}"><span class="tag_class">{{user.name}}</span></a>
                    {% endfor %}
                </div>
                <h4 style="float: left; margin-left: 2%">Tasks</h4>
                <br>
                <br>
                <div class="form-group"  style="overflow-y: scroll;">
                    {% for task in tasks %}
                        <a href="/task/info/{{task.id}}"><span class="tag_class">{{task.alias}}</span></a>
                    {% endfor %}
                </div>
                <h4 style="float: left; margin-left: 2%">Add more tasks</h4>
                <br>
                <br>
                <div class="form-group"  style="overflow-y: scroll;">
                    <input type="text" class="form-control" name="added_tasks" id="added_tasks" placeholder="tasks"/>
                </div>
                <h4 style="float: left; margin-left: 2%">Remove tasks (you must own them)</h4>
                <br>
                <br>
                <div class="form-group"  style="overflow-y: scroll;">
                    <input type="text" class="form-control" name="removed_tasks" id="removed_tasks" placeholder="tasks"/>
                </div>
                <h4 style="float: left; margin-left: 2%">Add more users</h4>
                <div class="form-group"  style="overflow-y: scroll;">
                    <input type="text" class="form-control" name="added_users" id="added_users" placeholder="users"/>
                </div>
                <h4 style="float: left; margin-left: 2%">Remove users</h4>
                <div class="form-group"  style="overflow-y: scroll;">
                    <input type="text" class="form-control" name="removed_users" id="removed_users" placeholder="users"/>
                </div>
                <div class="form-group"  style="overflow-y: scroll;">
                    <input type="submit" class="form-control" id="InputBtn" value="Save changes" required/>
                </div>
            </div>
            </form>
            {% if is_admin %}
            <form action="/group/delete_group_action/{{group.id}}">
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" id="RemoveInputBtn" value="Delete group" required/>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
<script>

    $('#added_tasks').tagEditor({'delimiter' : ' '});
    $('#removed_tasks').tagEditor({'delimiter' : ' '});

    {% if is_admin %}

    $('#added_users').prop({'disbled' : false});
    $('#removed_users').prop({'disbled' : false});
    $('#added_users').tagEditor({'delimiter' : ' '});
    $('#removed_users').tagEditor({'delimiter' : ' '});

    {% endif %}

    {% if not is_admin %}

    $('#added_users').prop({'disbled' : true});
    $('#removed_users').prop({'disbled' : true});

    {% endif %}

</script>
{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}