{% extends "base.ejs" %}

{% block page_title %}Add tag{% endblock page_title %}

{% block document_body %}
<div class="container">
    <div class="row centered">
        <div class="col-md-6 col-sm-offset-3">
            <form action="/group/add_group_action/{{user.id}}" method="post" class="form"> {% csrf_token %}
            <div class="get-in-touch">
                <h3 class="text-center">
                    Add Group</h3>
                <h4 style="float: left; margin-left: 2%">Name</h4>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name of group" required/>
                </div>
                <h4 style="float: left; margin-left: 2%">Admin</h4>
                <div class="form-group">
                    <input type="text" class="form-control" name="admin" value="{{user.name}}" disabled id="admin" placeholder="Admin" required/>
                </div>
                <h4 style="float: left; margin-left: 2%">Members</h4>
                <br>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="members" id="members" placeholder="members"/>
                </div>
                <h4 style="float: left; margin-left: 2%">Tasks</h4>
                <br>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="tasks" id="tasks" placeholder="tasks"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control" id="InputBtn" value="Add" required/>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#tasks').tagEditor({'delimiter' : ' '});
    $('#members').tagEditor({'delimiter' : ' '});
</script>
{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}