{% extends "base.ejs" %}

{% block page_title %}Input field title{% endblock page_title %}

{% block document_body %}
<div id="blue">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
            <h4>TASK TRACKER APPLICATION</h4>
            <p>Enjoy achieving your aims with us</p>
            </div>
        </div>
    </div>
</div>


<div class="container w">
    <div class="row centered">
        <br><br>
        <div class="col-lg-3">
            <h4>TASKS</h4>
            <p>Tasks are something that you wish to do in future.
                Even if you don't have a note to track tour progress,
                this tasks will always be tracked. You can set priorities or
                messages for tasks, set deadline, share tasks with groups, or group tasks by the common topic.
                Enjoy tracking your progress with the first-class task tracker application!
            </p>
            <p><a href="/task/add/">@Try it now</a></p>
        </div>

        <div class="col-lg-3">
            <h4>TAGS</h4>
            <p>Since it is not interesting to simply perform anonymous tasks,
                we added an opportunity to associate each task with some topic.
                We call this topics "tags". Besides it is convenient to associate
                your tasks with some objects, you can also have a look at a group
                of tasks with common topic, or set a description for topic(tag).</p>
            <p><a href="/tag/add/">@Try it now</a></p>
        </div>

        <div class="col-lg-3">
            <h4>GROUPS</h4>
            <p>It is much more exciting to do any task together with friend or mates,
                when you can support our friends efforts or to have fun doing the same thing.
                To have an opportunity to do so, you can create group and invite
                your friends into it. You can also create group tasks and finish them with friends.</p>
            <p><a href="/group/add/">@Try it now</a></p>
        </div>

        <div class="col-lg-3">
            <h4>REMINDS</h4>
            <p>Are you scattered and always forget something?
                Are you afraid of forgetting about any important
                task for you? Don't worry, setting a notification(remind)
                for this task will solve this problem.
                If you worry that you may miss the remind,
                you can set more than one for your task.
                Have pleasure doing your tasks.</p>
            <p><a href="/remind/add/">@Try it now</a></p>
        </div>

    </div>
    <br>
    <br>
</div>
{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}
