{% extends "base.ejs" %}

{% block optional_include %}
{% load static %}
<script src="{% static "js/tag_editor/jquery.tag-editor.js" %}"></script>
<link rel="stylesheet" href="{% static "css/jquery.tag-editor.css" %}">
<link rel="stylesheet" href="{% static "css/profile_styles.css" %}">
{% endblock optional_include %}

{% block page_title %}Profile{% endblock page_title %}

{% block document_body %}
<div class="row">
<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
<div class="well profile">
<div class="col-sm-12">
<div class="col-xs-12 col-sm-8">
<h2>{{user.name}}</h2>
<p><strong>Tags: </strong>
{% for tag in tags %}
    <a href="/tag/edit/{{tag.id}}"><span class="tag_class">{{tag.name}}</span></a>
{% endfor %}
</p>
<p><strong>Tasks total:</strong> {{tasks_total}} </p>
<p><strong>Tasks active:</strong> {{tasks_active}} </p>
<p><strong>Tasks finished:</strong> {{tasks_finished}} </p>
<p><strong>Tasks archived:</strong> {{tasks_archived}} </p>
<p><strong>Tasks failed:</strong> {{tasks_failed}} </p>
</div>
<div class="col-xs-12 col-sm-4 text-center">
<figure>
<img src="{% static "img/user.jpg" %}" alt="user" class="img-circle img-responsive">
<figcaption class="ratings">
<p>Рейтинг
{% for star in success_stars %}
    <a href="#">
    <span class="fa fa-star"></span>
    </a>
{% endfor %}
{% for star in fail_stars %}
    <a href="#">
    <span class="fa fa-star-o"></span>
    </a>
{% endfor %}
</p>
</figcaption>
</figure>
</div>
</div>
<div class="col-xs-12 divider text-center">
<div class="col-xs-12 col-sm-4 emphasis">
<h2><strong> {{tasks_total}} </strong></h2>
<p><small>Tasks were set</small></p>
<a href="/task/add/"><button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Add Task</button></a>
</div>
<div class="col-xs-12 col-sm-4 emphasis">
<h2><strong> {{groups_amount}}</strong></h2>
<p><small>Groups set </small></p>
<a href="/group/add/"><button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Add Group</button></a>
</div>
<div class="col-xs-12 col-sm-4 emphasis">
<h2><strong>Last time logged</strong></h2>
<p><small>{{last_log_time}}</small></p>
<a href="/user/logout/"><button class="btn btn-info btn-block"><span class="fa fa-user"></span> LOG OUT</button></a>
</div>
</div>
</div>
</div>
</div>



{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}
