{% extends "base.ejs" %}

{% block page_title %}Input field title{% endblock page_title %}

{% block document_body %}
<div class="container">
    <div class="row centered">
        <div class="col-md-6 col-sm-offset-3">
            <form action="/user/register/" method="post" class="form"> {% csrf_token %}
            <div class="get-in-touch">
                <h3 class="text-center">
                    Registration</h3>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="username" placeholder="User name" required/>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required/>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn-success" id="InputBtn" placeholder="Authenticate" value="Register" required/>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#tags').tagEditor({'delimiter' : ' '});
</script>
{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}
