{% extends "base.ejs" %}


{% block page_title %}Add task{% endblock page_title %}

{% block document_body %}
<div class="container float-sm-left" style="width: 100%">
    <div class="row">
        <div class="col-md-5 col-md-offset-1 float-left">
            <form method="post" class="form"> {% csrf_token %}
            <div class="get-in-touch">
                <h3 class="text-center">
                    Search reminds</h3>
                <div class="form-group">
                    <input type="text" class="form-control" name="alias_prefix" id="alias_prefix" placeholder="Name of task or it's prefix"/>
                </div>
                <div class="form-group">
                    <input type="datetime-local" class="form-control" value="0001-01-02T00:00" name="min_remind_time" id="min_remind_time" required/>
                </div>
                <div class="form-group">
                    <input type="datetime-local" class="form-control" value="9999-12-31T00:00" name="max_remind_time" id="max_remind_time" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="" name="message_prefix" id="message_prefix" placeholder="Message prefix"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control" id="InputBtn" value="Search" required/>
                </div>
            </div>
            </form>
        </div>
        <div class="col-md-5 float-right" id="task_display" style="height: 50vh; overflow-y: scroll;">
        <h3 class="text-center">RESULTS</h3>
            <table class="table table-bordered table-hover table-sortable" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							Remind ID
						</th>
						<th class="text-center">
							Remind time
						</th>
						<th class="text-center">
							Remind Message
						</th>
    					<th class="text-center">
							Task alias
						</th>
                        <th class="text-center">
							Task deadline
						</th>
                        <th class="text-center">
							View
						</th>
                        <th class="text-center">
							Delete
						</th>
					</tr>
				</thead>
				<tbody>
    				<tr id='addr0' data-id="0" class="hidden">

					</tr>
				</tbody>
			</table>
        </div>
    </div>
</div>
<script>
    $('#InputBtn').click(function(e){

        e.preventDefault();

        children = $('.indicator');

        for(var i = 0; i < children.length; ++i)
        {
            //console.log(children[i]);
            children[i].remove();
        }

        data = {
            'min_remind_time': $('#min_remind_time').val(),
            'max_remind_time': $('#max_remind_time').val(),
            'alias_prefix': $('#alias_prefix').val(),
            'message_prefix': $('#message_prefix').val()
        }

        res = $.post({
        'url': '/remind/filter',
        'data': data,
        'success': function(data){
                for(var i = 0; i < data.length; ++i)
                {
                    var tr = $("<tr class='indicator'></tr>", {
                        id: "remind_"+data[i].id
                    });
                    var remind_id = $("<td></td>", {
                        text: data[i].id
                    });
                    var remind_time = $("<td></td>", {
                        text: data[i].remind_time
                    });
                    var task_alias = $("<td></td>", {
                        text: data[i].task_alias
                    });
                    var task_deadline = $("<td></td>", {
                        text: data[i].task_deadline
                    });
                     var remind_message = $("<td></td>", {
                        text: data[i].message
                    });

                    var del_btn_td = $("<td></td>", {
                    });

                    var del_btn = $("<button class='row-remove btn btn-danger glyphicon glyphicon-remove'></button>", {
                        text: data[i].status
                    });

                    var view_btn_td = $("<td></td>", {
                    });

                    var task_page_href = $("<a href='/task/info/"+data[i].task_id+"'></a>", {
                    });

                    var view_more_btn = $("<button class='btn btn-success glyphicon glyphicon-eye-open'></button>", {
                    });

                    $(view_more_btn).appendTo($(task_page_href));

                    $(task_page_href).appendTo(view_btn_td)

                    $(del_btn).appendTo($(del_btn_td));

                    $(remind_id).appendTo($(tr));
                    $(remind_time).appendTo($(tr));
                    $(remind_message).appendTo($(tr));
                    $(task_alias).appendTo($(tr));
                    $(task_deadline).appendTo(tr);
                    $(view_btn_td).appendTo(tr);
                    $(del_btn_td).appendTo($(tr));
                    $(tr).appendTo($('#tab_logic'));

                    remind_id_str = data[i].id;

                    $(tr).find("td button.row-remove").on("click", function() {
                        $.post({
                            'url': '/remind/delete_remind_async',
                            'data': {
                                'remind_id': remind_id_str
                            },
                            'success': function(data){
                                if (data['status'] == 'error')
                                    alert(data['body']);
                            }
                        })
                        $(this).closest("tr").remove();
                    });
                }
            }
        });
    });
</script>
{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}
