{% extends "base.ejs" %}

{% block page_title %}Add remind{% endblock page_title %}

{% block document_body %}
<div class="container">
    <div class="row centered">
        <div class="col-md-6 col-sm-offset-3">
            <form action="/remind/add_remind_action/" method="post" class="form"> {% csrf_token %}
            <div class="get-in-touch">
                <h3 class="text-center">
                    Add reminds</h3>
                <div id="remind_addition_container" style="overflow-y: scroll; max-height: 40ch;">
                    <div class="remind_form_class">
                        <div class="form-group">
                            <input type="text" class="form-control" name="alias_0" id="alias_0" placeholder="Name of task"/>
                        </div>
                        <div class="form-group">
                            <input type="datetime-local" class="form-control" name="remind_time_0" id="remind_time_0" placeholder="REMIND TIME"/>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message_0" id="message_0" rows="3" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button class='row-remove btn btn-danger glyphicon glyphicon-remove' style='float: right; margin-bottom: 2%' id="button_0"></button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control" id="InputBtn" placeholder="Commit changes" value="Commit changes" required/>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" id="AddRemindInputBtn" value="Add remind">Add remind</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#AddRemindInputBtn').on('click', function(e){
        e.preventDefault();
        root_container = $('#remind_addition_container');
        children = $('#remind_addition_container .remind_form_class');
        latest_index = children.length;

        var remind_container = $("<div class='remind_form_class'></div>", {
                    });

        var alias_div = $("<div class='form-group'></div>", {});

        var alias_input_field = $("<input class='form-control' type='text' placeholder='Name of task'"+" id='alias_"+latest_index+"'></input>", {
                        placeholder: 'Name of task',
                        id: "alias_"+latest_index
                    });

        var remind_time_div = $("<div class='form-group'></div>", {});

        var remind_time_input_field = $("<input class='form-control' type='datetime-local'"+" id='remind_time_"+latest_index+"'></input>", {
                        id: "remind_time_"+latest_index
                    });

        var message_div = $("<div class='form-group'></div>", {});

        var message_input_field = $("<textarea class='form-control' placeholder='Message' rows='3'"+" id='message_"+latest_index+"'></textarea>", {
                        placeholder: 'Message',
                        id: "message_"+latest_index
                    });

        var del_btn_div = $("<div class='form-group'></div>", {});

        var del_btn = $("<button class='row-remove btn btn-danger glyphicon glyphicon-remove'" +
            " style='float: right; margin-bottom: 2%'"+" id='button_"+latest_index+"'></button>", {
                        id: 'button_'+latest_index
                    });

        $(alias_input_field).appendTo(alias_div);
        $(remind_time_input_field).appendTo(remind_time_div);
        $(message_input_field).appendTo(message_div);
        $(del_btn).appendTo(del_btn_div);

        $(alias_div).appendTo(remind_container);
        $(remind_time_div).appendTo(remind_container);
        $(message_div).appendTo(remind_container);
        $(del_btn_div).appendTo(remind_container);

        $(remind_container).appendTo(root_container);

        button_id = "#button_"+latest_index;
        console.log($(remind_container).find(button_id));
        $(remind_container).find(button_id).on("click", function() {
                         $(this).closest("div.remind_form_class").remove();
                         console.log('Foooo');
                    });
    });
</script>
{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}
