{% extends "base.ejs" %}

{% block optional_include %}
{% load static %}
<script src="{% static "js/tag_editor/jquery.tag-editor.js" %}"></script>
<link rel="stylesheet" href="{% static "css/jquery.tag-editor.css" %}">
{% endblock optional_include %}


{% block page_title %}Add task{% endblock page_title %}

{% block document_body %}
<div class="container float-sm-left" style="width: 100%">
    <div class="row">
        <div class="col-md-5 col-md-offset-1 float-left">
            <form method="post" class="form"> {% csrf_token %}
            <div class="get-in-touch">
                <h3 class="text-center">
                    Search</h3>
                <div class="form-group">
                    <input type="text" class="form-control" name="alias_prefix" id="alias_prefix" placeholder="Name of task or it's prefix" required/>
                </div>
                <div class="form-group">
                    <input type="datetime-local" class="form-control" value="0001-01-02T00:00" name="min_start_time" id="min_start_time" placeholder="Start time of task" required/>
                </div>
                <div class="form-group">
                    <input type="datetime-local" class="form-control" value="9999-12-31T00:00" name="max_start_time" id="max_start_time" placeholder="DEADLINE" required/>
                </div>
                 <div class="form-group">
                    <input type="datetime-local" class="form-control" value="0001-01-02T00:00" name="min_deadline" id="min_deadline" placeholder="Start time of task" required/>
                </div>
                <div class="form-group">
                    <input type="datetime-local" class="form-control" value="9999-12-31T00:00" name="max_deadline" id="max_deadline" placeholder="DEADLINE" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="0" name="min_priority" id="min_priority" placeholder="MIN priority" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="10" name="max_priority" id="max_priority" placeholder="MAX priority" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="0" name="min_percent_of_readiness" id="min_percent_of_readiness" placeholder="MIN percent of readiness (%)" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="100" name="max_percent_of_readiness" id="max_percent_of_readiness" placeholder="MAX percent of readiness (%)" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="tags" id="tags" placeholder="Tags"/>
                </div>
                <table style="width: 100%; margin: 2%">
                    <tr>
                        <th>
                            <input type="checkbox" class="checkbox_class" name="not_active" id="not_active" value="NOT_ACTIVE">NOT ACTIVE<Br>
                        </th>
                        <th>
                            <input type="checkbox" class="checkbox_class" name="active" id="active" value="ACTIVE">ACTIVE<Br>
                        </th>
                        <th>
                            <input type="checkbox" class="checkbox_class" name="failed" id="failed" value="FAILED">FAILED<Br>
                        </th>
                        <th>
                            <input type="checkbox" class="checkbox_class" name="finished" id="finished" value="FINISHED">FINISHED<Br>
                        </th>
                        <th>
                            <input type="checkbox" class="checkbox_class" name="archived" id="archived" value="ARCHIVED">ARCHIVED<Br>
                        </th>
                    </tr>
                </table>
                <div class="form-group">
                    <input type="submit" class="form-control" id="InputBtn" placeholder="Create task" value="Search" required/>
                </div>
            </div>
            </form>
        </div>
        <div class="col-md-5 float-right" id="task_display" style="height: 50px">
        <h3 class="text-center">RESULTS</h3>
            <table class="table table-bordered table-hover table-sortable" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							ID
						</th>
						<th class="text-center">
							Short name
						</th>
						<th class="text-center">
							DEADLINE
						</th>
    					<th class="text-center">
							Status
						</th>
                        <th class="text-center">
							View
						</th>
                        <th class="text-center">
							Hide
						</th>
					</tr>
				</thead>
				<tbody>
    				<tr id='addr0' data-id="0" class="hidden">

					</tr>
				</tbody>
			</table>
        </div>
    </div>
</div>
<script>
    $('#tags').tagEditor({'delimiter' : ' '});


    $('#InputBtn').click(function(e){

        e.preventDefault();

        children = $('.indicator');

        for(var i = 0; i < children.length; ++i)
        {
            //console.log(children[i]);
            children[i].remove();
        }

        function getStatusList() {
            ret = []
            req = $('.checkbox_class')
            for(var i = 0; i < req.length; ++i)
            {
                if(req[i].checked)
                    ret.push(req[i].value);
            }
            return ret;
        }

        data = {
            'min_start_time': $('#min_start_time').val(),
            'max_start_time': $('#max_start_time').val(),
            'min_deadline': $('#min_deadline').val(),
            'max_deadline': $('#max_deadline').val(),
            'min_priority': $('#min_priority').val(),
            'max_priority': $('#max_priority').val(),
            'min_percent_of_readiness': $('#min_percent_of_readiness').val(),
            'max_percent_of_readiness': $('#max_percent_of_readiness').val(),
            'alias_prefix': $('#alias_prefix').val(),
            'status_range': getStatusList()
        }
        console.log(data);
        res = $.post({
        'url': '/task/filter',
        'data': data,
        'success': function(data){
                console.log(typeof(data));
                for(var i = 0; i < data.length; ++i)
                {
                    var tr = $("<tr class='indicator'></tr>", {
                        id: "task_"+data[i].id
                    });
                    var task_id = $("<td></td>", {
                        text: data[i].id
                    });
                    var task_alias = $("<td></td>", {
                        text: data[i].alias
                    });
                    var task_deadline = $("<td></td>", {
                        text: data[i].deadline
                    });
                    var task_status = $("<td></td>", {
                        text: data[i].status
                    });

                    var del_btn_td = $("<td></td>", {
                    });

                    var del_btn = $("<button class='row-remove btn btn-danger glyphicon glyphicon-remove'></button>", {
                        text: data[i].status
                    });

                    var view_btn_td = $("<td></td>", {
                    });

                    var task_page_href = $("<a href='/task/info/"+data[i].id+"'></a>", {
                    });

                    var view_more_btn = $("<button class='btn btn-success glyphicon glyphicon-eye-open'></button>", {
                        text: data[i].status
                    });

                    $(view_more_btn).appendTo($(task_page_href));

                    $(task_page_href).appendTo(view_btn_td)

                    $(del_btn).appendTo($(del_btn_td));

                    $(task_id).appendTo($(tr));
                    $(task_alias).appendTo($(tr));
                    $(task_deadline).appendTo($(tr));
                    $(task_status).appendTo($(tr));
                    $(view_btn_td).appendTo(tr);
                    $(del_btn_td).appendTo($(tr));
                    $(tr).appendTo($('#tab_logic'));

                    $(tr).find("td button.row-remove").on("click", function() {
                         $(this).closest("tr").remove();
                    });
                }
            }
        });
    });
</script>
{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}
