{% extends "base.ejs" %}

{% block page_title %}Edit tag{% endblock page_title %}

{% block document_body %}
<div class="container">
    <div class="row centered">
        <div class="col-md-6 col-sm-offset-3">
            <form action="/tag/edit_tag_action/{{tag.id}}" method="post" class="form"> {% csrf_token %}
            <div class="get-in-touch">
                <h3 class="text-center">
                    Edit tag {{tag.name}}</h3>
                <h4 style="float: left; margin-left: 2%">ID</h4>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{tag.id}}" name="id" disabled id="id" placeholder="Id of tag" required/>
                </div>
                <h4 style="float: left; margin-left: 2%">Name</h4>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{tag.name}}" name="id" disabled id="id" placeholder="Id of tag" required/>
                </div>
                <h4 style="float: left; margin-left: 2%">Amount of tasks with such tag</h4>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{task_amount}}" name="task_amount" disabled id="task_amount" placeholder="Amount of tasks with such tag"/>
                </div>
                <h4 style="float: left; margin-left: 2%">Description</h4>
                <div class="form-group">
                    <textarea class="form-control" name="description" id="description" rows="5" placeholder="Description" required>{{tag.description}}</textarea>
                </div>
                <h4 style="float: left; margin-left: 2%">Tasks</h4>
                <br>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="tasks" id="tasks" placeholder="tasks"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control" id="InputBtn" value="Save changes" required/>
                </div>
            </div>
            </form>
            <form action="/tag/delete/{{tag.id}}">
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" id="RemoveInputBtn" value="Delete tag" required/>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    init_tag_list = [];
    {% for task in tasks %}
        init_tag_list.push('{{task}}');
    {% endfor %}
    $('#tasks').tagEditor({'delimiter' : ' ', 'initialTags': init_tag_list});
</script>
{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}