{% extends "base.ejs" %}

{% block page_title %}Add tag{% endblock page_title %}

{% block document_body %}
<div class="container">
    <div class="row centered">
        <div class="col-md-6 col-sm-offset-3">
            <form action="/tag/add_tag_action" method="post" class="form"> {% csrf_token %}
            <div class="get-in-touch">
                <h3 class="text-center">
                    Add tag</h3>
                <h4 style="float: left; margin-left: 2%">Name</h4>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name of tag" required/>
                </div>
                <h4 style="float: left; margin-left: 2%">Description</h4>
                <div class="form-group">
                    <textarea class="form-control" name="description" id="description" rows="5" placeholder="Description" required></textarea>
                </div>
                <h4 style="float: left; margin-left: 2%">Tasks</h4>
                <br>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="tasks" id="tasks" placeholder="tasks"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control" id="InputBtn" value="Add" required/>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#tasks').tagEditor({'delimiter' : ' '});
</script>
{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}