{% extends "base.ejs" %}

{% block page_title %}Add task{% endblock page_title %}

{% block document_body %}
<div class="container">
    <div class="row centered">
        <div class="col-md-6 col-sm-offset-3">
            <form action="/task/add_from_request/" method="post" class="form"> {% csrf_token %}
            <div class="get-in-touch">
                <h3 class="text-center">
                    Add new task</h3>
                <div class="form-group">
                    <input type="text" class="form-control" name="alias" id="alias" placeholder="Name of task (recommended to be short)" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="parent_alias" id="parent_alias" placeholder="Name of parent task (alias)"/>
                </div>
                <div class="form-group">
                    <input type="datetime-local" class="form-control" name="start_time" id="start_time" placeholder="Start time of task" required/>
                </div>
                <div class="form-group">
                    <input type="datetime-local" class="form-control" name="deadline" id="deadline" placeholder="DEADLINE" required/>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="msg" rows="3" placeholder="Message" required></textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="priority" id="priority" placeholder="Priority" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="tags" id="tags" placeholder="Tags"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control" id="InputBtn" placeholder="Create task" value="Create task" required/>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#tags').tagEditor({'delimiter' : ' '});
</script>
{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}
