{% extends "base.ejs" %}

{% block page_title %}Edit task{% endblock page_title %}

{% block document_body %}
<div class="container">
    <div class="row centered">
        <div class="col-md-6 col-sm-offset-3">
            <form action="/task/edit_task_action/{{id}}" method="post" class="form"> {% csrf_token %}
            <div class="get-in-touch">
                <h3 class="text-center">
                    Edit task {{alias}}</h3>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{alias}}" name="alias" id="alias" placeholder="Name of task (recommended to be short)" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{parent_alias}}" name="parent_alias" id="parent_alias" placeholder="Name of parent task (alias)"/>
                </div>
                <div class="form-group">
                    <input type="datetime-local" class="form-control" value="{{start_time}}" name="start_time" id="start_time" placeholder="Start time of task" required/>
                </div>
                <div class="form-group">
                    <input type="datetime-local" class="form-control" value="{{deadline}}" name="deadline" id="deadline" placeholder="DEADLINE" required/>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="msg" rows="3" placeholder="Message" required>{{msg}}</textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{priority}}" name="priority" id="priority" placeholder="Priority" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="tags" id="tags" placeholder="Tags"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control" id="InputBtn" value="Save changes" required/>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<script>
    init_tag_list = [];
    {% for tag in tags %}
        init_tag_list.push('{{tag}}');
    {% endfor %}
    $('#tags').tagEditor({'delimiter' : ' ', 'initialTags': init_tag_list});
</script>
{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}
