{% extends "base.ejs" %}

{% block page_title %}Input field title{% endblock page_title %}

{% block document_body %}
<div class="container" style="width: 80%">
    <table class="table">
    <caption>Task description</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Alias</th>
            <th scope="col">Priority</th>
            <th scope="col">Readiness (%)</th>
            <th scope="col">Status</th>
            <th scope="col">Message</th>
            <th scope="col">Start time</th>
            <th scope="col">Deadline</th>
            <th scope="col">Tags</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr id="row_{{task.id}}">
            <th scope="row"></th>
            <td>{{task.id}}</td>
            <td>{{task.alias}}</td>
            <td>{{task.priority}}</td>
            <td>{{task.percent_of_readiness}}</td>
            <td>{{task.status}}</td>
            <td>{{task.message}}</td>
            <td>{{task.start_time}}</td>
            <td>{{task.deadline}}</td>
            <td>
                <form action="#"><input type="text" name="tags" id="tags"/></form>
            </td>
            <td>
                <table>
                    <tr>
                        <th>
                            <form action="/task/finish/{{task.id}}"><input type="submit" class="btn-success" id="finish" value="Finish"></form>
                        </th>
                        <th>
                            <form action="/task/fail/{{task.id}}"><input type="submit" class="btn-warning" id="fail" value="Fail"></form>
                        </th>
                        <th>
                            <form action="/task/delete/{{task.id}}"><input type="submit" class="btn-danger" id="delete" value="Delete"></form>
                        </th>
                        <th>
                            <a href="/task/edit/{{task.id}}"><button class="btn btn-success glyphicon glyphicon-pencil" id="edit_{{task.id}}"></button></a>
                        </th>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="table">
    <caption>Subtasks</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Alias</th>
            <th scope="col">Priority</th>
            <th scope="col">Readiness (%)</th>
            <th scope="col">Status</th>
            <th scope="col">Message</th>
            <th scope="col">Start time</th>
            <th scope="col">Deadline</th>
            <th scope="col">Tags</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for child in child_list %}
        <tr id="row_{{child.id}}">
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{child.id}}</td>
            <td>{{child.alias}}</td>
            <td>{{child.priority}}</td>
            <td>{{child.percent_of_readiness}}</td>
            <td>{{child.status}}</td>
            <td>{{child.message}}</td>
            <td>{{child.start_time}}</td>
            <td>{{child.deadline}}</td>
            <td>
                <form action="#"><input type="text" name="{{child.alias}}_tags" id="{{child.alias}}_tags"/></form>
            </td>
            <td>
                <table>
                    <tr>
                        <th>
                            <form action="/task/finish/{{child.id}}"><input type="submit" class="btn-success" id="finish" value="Finish"></form>
                        </th>
                        <th>
                            <form action="/task/fail/{{child.id}}"><input type="submit" class="btn-warning" id="fail" value="Fail"></form>
                        </th>
                        <th>
                            <form action="/task/delete/{{child.id}}"><input type="submit" class="btn-danger" id="delete" value="Delete"></form>
                        </th>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function add_edit_executor(id)
    {
        for(var i = 0; i < $('#row_'+id).children.length; ++i)
        {
            console.log($('#row_'+id).children[i]);
        }
    }


    init_tag_list = [];
    {% for tag in tags %}
        init_tag_list.push('{{tag}}');
    {% endfor %}
    $('#tags').tagEditor({'delimiter' : ' ', 'initialTags': init_tag_list});
    {% for child in child_list %}
        child_tag_list = []
        {% for tag in child.tag_list %}
            child_tag_list.push('{{tag}}');
        {% endfor %}
        $('#{{child.alias}}_tags').tagEditor({'delimiter' : ' ', 'initialTags': child_tag_list});
    {% endfor %}



</script>
</div>
{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}