{% extends "base.ejs" %}

{% block page_title %}Add task{% endblock page_title %}

{% block document_body %}
<div class="container">
    <div class="row centered">
        <div class="col-md-6 col-sm-offset-3">
            <h3 class="text-center">RESULTS</h3>
            <table class="table table-bordered table-hover table-sortable" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							ID
						</th>
						<th class="text-center">
							Tag name
						</th>
						<th class="text-center">
							Tasks with tag
						</th>
    					<th class="text-center">
							Description
						</th>
                        <th class="text-center">
							View
						</th>
                        <th class="text-center">
							Hide
						</th>
					</tr>
				</thead>
				<tbody>
    				{% for tag in tags %}
    				<tr data-id="0">
                        <th class="text-center">
							{{tag.id}}
						</th>
						<th class="text-center">
							{{tag.name}}
						</th>
						<th class="text-center">
							{{tag.task_amount}}
						</th>
    					<th class="text-center">
							{{tag.description}}
						</th>
                        <th class="text-center">
							<a href='/tag/edit/{{tag.id}}'><button class='btn btn-success glyphicon glyphicon-pencil'></button></a>
						</th>
                        <th class="text-center">
							<button class='row-remove btn btn-danger glyphicon glyphicon-remove'></button>
						</th>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
        </div>
    </div>
</div>
<script>
    items = $('.row-remove')
    console.log(items)

    for(var i = 0; i < items.length; ++i)
    {
        $(items[i]).on("click", function() {
                         $(this).closest("tr").remove();
                    });
    }

</script>
{% endblock document_body %}

{% block document_footer %}Page Footer{% endblock document_footer %}
